* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  
  
  
  .direcao button {
    width: 124.3px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
  }
  
  #reiniciar {
    width: 510px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
  }
  
  body {
    background-image: url(img/floresta.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  
  }
  
  canvas {
    border: solid 5px brown;
    margin-left: 35%;
    margin-top: 5px;
  }
  
  .direcao,
  #reiniciar {
    margin-left: 35%;
  }
  
  
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.3);
  }
  
  .logo-titulo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
  }
  
  .logo-titulo img {
    width: 100px;
    margin-right: 10px;
  }
  
  .titulo {
    font-size: 45px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 20pt;
    font-weight: bolder;
    width: 100%;
    background-size: 30px;
    background-repeat: repeat-x;
    background-position: center;
    gap: 40px;
  }
  
  nav a {
    text-decoration: none;
    border-radius: 5px;
    background-size: 110%;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .lista>div {
    margin: 10px;
  }
  
  fieldset {
    background-color: white;
    border: double rgb(17, 51, 8) 2px;
  }
  
  legend {
    background-color: rgb(39, 77, 39);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
  
  }
  
  .breve {
    opacity: 0.2;
  }
  
  figcaption {
    text-align: center;
    color: rgb(8, 73, 8);
    font-weight: bold;
    margin-bottom: 10px;
  
  }